body
{
    -webkit-font-smoothing: antialiased;

    font-family: open sans,sans-serif,microsoft jhenghei,微軟正黑體!important;
    font-weight: 300;
    text-transform: none;
    word-wrap: break-word;
    word-break: break-all;
}

#avividai_recommend_iframe
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -95vh;
    left:0;
    border: 0;
    margin:0;
    z-index: 999999998;
}

#avivid_iframe_handle
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -95vh;
    left:0;
    z-index: 999999999;
    background-color: rgb(0, 0, 0);
    opacity: 0.15;

}


.bg-gray
{
    background-color: #bdbdbd;
}

.text-gray
{
    color: #bdbdbd;
}

.title
{
    margin-top: 10px;
}

.title a
{
    color: #000000;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
}

.description
{
    color: #5e5e5e;
    font-size: 10px; 
    height: 38px;
    max-height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
}

.description a
{
    color: #5e5e5e;
    text-decoration: none;
}

.bottom_recommend_iframe
{
    /*background-color: rgb(0, 0, 0); 
    opacity: 0.3; */
    position:fixed; 
    bottom: 0; 
    left: 0; 
    height: 35px; 
    width: 100%; 
    z-index:2; 
    display:none;
}

.right_recommend_iframe
{
    /*background-color: rgb(0, 0, 0); 
    opacity: 0.3; */
    position:fixed; 
    margin-left: 410px;
    width: 100%; 
    z-index:10; 
    display:none;
    bottom: 0;
}

#avivid_recommend_body_div
{
    background-color: white;
    width: 100vw;
}

